/* main{
    grid-template-areas: 
    "carlos fio antonio"
    "estudiantes estudiantes estudiantes";
    grid-template-columns: repeat(3, 1fr);
}


.carlos{
    grid-area: carlos;
}

.fio{
    grid-area: fio;
}

.antonio{
    grid-area: antonio;
}

.estudiantes{
    grid-area: estudiantes;
} */
